@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    min-height: 94vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9fbfd;
}

.container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 8vh;
    text-align: center;
}

.container input {
    width: 50%;
    height: 80px;
    border: 0;
    border-bottom: 5px solid #7bc74d;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    padding: 15px 0 15px 15px;
    background-color: #fff;
    color: #212121;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 4px;
    position: relative;
}

.container input::placeholder {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

#copy {
    position: absolute;
    top: 47vh;
    left: 72vw;
    font-size: 2rem;
    color:  #212121;
    cursor: pointer;
    opacity: 0.4;
}

#copy:hover {
    opacity: 1;
}

.btn {
    border: none;
    background-color: #232931;
    color: #ffffff;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    outline: none;
}

.btn:hover {
    background-color: #212121;
}

.alertBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #f9fbfd;
    color: #212121;
    font-size: 5rem;
    font-weight: 700;
    display: none;
}

.alertBox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fbfd;
    color:  #222831;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (max-width: 1126px) {
    .container input {
        width: 60%;
    }

    #copy {
        top: 46.9vh;
        left: 76vw;
    }
}


@media screen and (max-width: 850px) {
    .container input {
        width: 80%;
        height: 80px;
        padding: 15px 0 15px 15px;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 4px; 
    }
    
    #copy {
        top: 46.9vh;
        left: 84vw;
    }
    .alertBox {
        font-size: 3rem;
        font-weight: 700; 
    }
}

@media screen and (max-width: 566px) {
    .container input {
        width: 80%;
        height: 80px;
        padding: 15px 0 15px 15px;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 4px; 
    }
    
    #copy {
        top: 51.5vh;
        left: 82vw;
        font-size: 1.8rem;
    }

    .btn {
        padding: 12px 10px;
        font-size: 1rem;
    }

    .alertBox {
        font-size: 2rem;
        font-weight: 700; 
    }
}